@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&family=Nunito+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
   box-sizing: border-box;
}

/*
 #content {
    float: left;
    width: 75%;
    padding: 5px;
 }
*/
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
 }
 
 
h2, h3 {
   color: #00a2c6
}

header {
    display: inline;
 }
 
footer {
   padding: 20px;
   color: white;
   background-color: #00a2c6
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
 }

 nav a:hover {
    font-weight: bold;
 }

 .profile header {
    text-align: center;
 }

 footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
 }

 .featured-image {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
 }

 .poto{
   width: 50%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   margin-left: 50%;
 }

 .profile img {
    width: 200px;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
 }

 .jumbotron {
    font-size: 25px;
    padding: 60px;
    padding-top: 10px;
    background-color: #00c8eb;
    color: white;
    background-image: url('../image/cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
 }

 nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
 }

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }

 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }

 main {
    padding: 20px;
    overflow: auto;
 }

 .flex-container {
      display: flex;
      justify-content: center;
 }

 .flex-container > div {
   width: 50%;
   margin: 10px;
   text-align: left;
 }

.kiri{
   width: 50%;
}

.kanan{
   width: 60%;
}
 .flex-content {
   display: flex;
   margin: 10px;
   align-content: center;
 }

 .column {
   float: left;
   width: 28%;
   padding: 10px;
   margin: 10px;
}

 .judul {
   line-height: 5px;
 }

 .flex-content > section {
   margin-left: 10px;
   margin-right: 10px;
 }

 .flex-content-card {
   display: flex;
   margin: 10px;
   align-content: center;
 }

 .flex-content-card > section {
   margin-left: 10px;
   margin-right: 10px;
   width: 25%;
   height: 250px;
 }

 .tombol{
   background:#2C97DF;
   color:white;
   border-top:0;
   border-left:0;
   border-right:5px solid #2A80B9;;
   border-bottom:5px solid #2A80B9;
   padding:10px 20px;
   text-decoration:none;
   font-family:'Quicksand', sans-serif;
   font-size:11pt;
 }

 .image-card {
   width: 75%;
   max-height: 75%;
   object-fit: fill;
   object-position: center;
}

 /* Clear floats after the columns */
 
 
 /* On screens that are 992px wide or less, go from four columns to two columns */
 @media screen and (max-width: 1000px) {
   .column {
     width: 100%;
   }
   .flex-container {
      display: block;
   }
   .flex-container > div {
      width: 100%;
      margin: 0px;
      text-align: left;
    }
    .flex-content, .flex-content-card {
      display: block;
      margin: 0;
    }
    .flex-content > section, .flex-content-card > section {
      width: 100%;
      margin: 0px;
    }
    .poto{
      margin-left: 25%;
    }
 }
 