@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&family=Nunito+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
 }

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
 }
 
 
h2 {
   color: #ff2e63
}

h3 {
   color: #08d9d6;
}

header {
    display: inline;
 }

button a {
   text-decoration: none;
   color: white;
}

 .profile header {
    text-align: center;
 }

 .profile {
    display: flex;
    text-align: left;
    margin-left: 25%;
 }

 footer {
    padding: 20px;
    color: white;
    background-color: #1a1c20;
    text-align: center;
    font-weight: bold;
 }

 .featured-image {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
 }

 .poto{
   width: 50%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   margin-left: 50%;
 }

 .profile img {
    width: 200px;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
 }

 .jumbotron {
    font-size: 25px;
    padding: 40px;
    padding-top: 10px;
    background-color: #08d9d6;
    color: white;
    background-image: url('../image/cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
 }

 nav {
    background-color: #252a34;
    padding: 0px;
    position: sticky;
    top: 0;
 }

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 15px;
 }

 nav li {
    display: inline;
    list-style-type: none;
    margin: 0;
 }

 nav ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    margin-left: 30px;
 }

 nav a:hover {
   font-weight: bold;
   background-color: #ff2e63;
}

.dropbtn {
   display: none;
}

 main {
    padding: 20px;
    overflow: auto;
 }

 .flex-container {
      display: flex;
      justify-content: center;
 }

 .flex-container > div {
   width: 50%;
   margin: 10px;
   text-align: left;
 }

.kiri{
   width: 50%;
}

.kanan{
   width: 60%;
}
 .flex-content {
   display: flex;
   align-content: center;
 }

 .column {
   float: left;
   width: 28%;
   padding: 10px;
   margin: 10px;
}

 .judul {
   line-height: 5px;
 }

 .flex-content > section {
   margin-left: 10px;
   margin-right: 10px;
 }

 .flex-content-card {
   display: flex;
   margin: 10px;
   align-content: center;
 }

 .flex-content-card > section {
   margin-left: 10px;
   margin-right: 10px;
   width: 25%;
   height: 220px;
 }

 .flex-content-produk {
   display: flex;
   align-content: center;
   background-color: white;
   padding: 20px 30px;
   padding-bottom: 30px;
   margin-left: -20px;
   margin-right: -20px;
   margin-bottom: -20px;
 }

 .flex-content-produk > section {
   margin-left: 10px;
   margin-right: 10px;
   width: 25%;
   height: 250px;
   line-height: 5px;
 }

 .tombol{
   background:#2C97DF;
   border-top:0;
   border-left:0;
   border-right:5px solid #2A80B9;;
   border-bottom:5px solid #2A80B9;
   padding:10px 20px;
   font-family:'Quicksand', sans-serif;
   font-size:11pt;
   border-radius: 20px;
   cursor: pointer;
 }

 .tombol:hover {background-color: #08d9d6}

 .card:hover {
   box-shadow: 4px 8px 12px 4px #ff2e63;
   border-radius: 10px;
   padding: 10px;
   margin-top: 20px;
   text-align: center;
   cursor: pointer;
}

.tombol:active {
   border-right:2px solid #2A80B9;
   border-bottom:2px solid #2A80B9;
   transform: translateY(4px);
}

 .image-card {
   max-width: 100%;
   max-height: 150px;
   object-fit: cover;
   object-position: center;
}

.image-produk {
   max-width: 100%;
   max-height: 125px;
   object-fit: cover;
   object-position: center;
}

.image-profil {
   max-width: 100%;
   max-height: 150px;
   object-fit: contain;
   object-position: center;
}

#deskripsi {
   background-color: white;
   padding: 20px 30px;
   margin-left: -20px;
   margin-right: -20px;
}

#fitur {
   padding: 20px;
   margin-bottom: 0;
   text-align: center;
}

#produk {
   text-align: center;
   background-color: white;
   padding: 20px 30px;
   margin-left: -20px;
   margin-right: -20px;
   margin-bottom: 0;
}

 aside {
    padding: 10px;
    background-color: #252a34;
    color: white;
 }

 aside h2 {
   text-align: center;
 }
 
 
 /* On screens that are 992px wide or less, go from four columns to two columns */
 @media screen and (max-width: 1000px) {
   .column {
     width: 100%;
   }
   .flex-container {
      display: block;
   }
   .flex-container > div {
      width: 100%;
      margin: 0px;
      text-align: left;
    }
    .flex-content, .profile {
      display: block;
      margin: 20px;
    }
    .flex-content-card{
      display: block;
      margin: 20px;
      padding-right: 25px;
    }
    .flex-content-produk{
       margin-left: -20px;
       margin-right: -20px;
       display: block;
       padding-left: 40px;
       padding-right: 55px;
       padding-top: 0px;
    }
    #produk {
       margin-bottom: -10px;
    }
    .flex-content > section, .flex-content-card > section, .flex-content-produk > section {
      width: 100%;
      margin: 10px;
    }
    .poto{
      margin-left: 25%;
    }
    .judul {
      line-height: normal;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropbtn{
       display: block;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1;}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
 }
 